<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>失物管理平台</title>

<!-- Bootstrap -->
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet"/>
	<!-- 日期控件 -->
	<link href="css/bootstrap-datepicker3.css" rel="stylesheet">
	<!-- 自己修改后的css样式 -->
	<link href="css/style.css" rel="stylesheet"/>
	<!-- 登录注册css样式 -->
	<link href="css/login.css" rel="stylesheet"/>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- BootStrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- 自己编写的JavaScript代码 -->
	<script src="js/MyJavascript.js"></script>
	<!-- 图片剪裁插件 -->
	<!-- <script src="js/jqthumb.min.js"></script> -->
	<!-- 日期控件 -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- 日期控件中文 -->
	<script src="js/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]-->
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.js"></script>
<!-- [endif]-->	
</head>
<body>
<!-- 头部页面 -->
	<div th:replace="mycode :: mytop"></div>
	<!--主页面-->
		<div class="container">
			<div class="row">
				<hr/>
			</div>
			<!--信息-->
			<div class="row">
			<div class="col-md-9">
				<div class="panel panel-default">
				  <div class="panel-heading"><h3 th:text="${goods.g_title}">寻找军人保障卡《标题》</div>
				  <div class="panel-body">
				   <span th:text="${goods.g_rtime}"></span> 发布，信息编号：<span th:text="${goods.g_id}" id="g_id"></span>，失物名称：<span th:text="${goods.g_name}"></span>，
				   	当前状态：<cite th:text="${goods.classification.c_status}+'……'" style="font-size: 20px;color: red;"></cite>
				  </div>
				  <div class="panel-body">
				    <img th:src="${'img/'+goods.g_picture}" class="img-responsive img-responsive" width="900px" />
				  </div>
				  <div class="panel-body">
				  	<span th:text="${goods.g_describe}"></span>				   
				  </div>
				</div>				
				<!--标签页-->
				<!--<div class="panel panel-default">
				  <div class="panel-body">-->
				   <div>
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#contract" aria-controls="home" role="tab" data-toggle="tab">联系方式</a></li>
					    <li role="presentation"><a href="#apply" aria-controls="apply" role="tab" data-toggle="tab">申领物品</a></li>
					    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">发布留言</a></li>
					  </ul>
					
					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="contract">
					    	<div class="container-fluid">
					    		<div class="row">
					    			<div class="col-md-12">
					    				<p><b>失物类型：</b><span th:text="${goods.g_type}"></span></p>
									    <p><b>丢失日期：</b><span th:text="${goods.g_ltime}"></span></p>
									    <p><b>丢失地点：</b><span th:text="${goods.g_place}"></span></p>
									    <p><b>发布者：</b><span th:text="${goods.user.username}"></span></p>
									    <p><b>联系电话：</b><span th:text="${goods.user.phone}"></span></p>
									    <p><b>QQ：</b><span th:text="${goods.user.qq}"></span></p>
									    <p><b>电子邮箱：</b><span th:text="${goods.user.email}"></span></p>
					    			</div>
					    		</div>
					    	</div>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="apply">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12">
											<p></p>
											<form role="form" id="applyform">
								    		<label class="control-label">请输入物品的详细特征信息，方便管理员验证...</label>
											  <div class="form-group">
											    <textarea class="form-control" rows="5" style="resize: none;" name="a_key" id="a_key"></textarea>
											    <!--<button type="button" class="btn btn-primary" onclick="">添加失物</button>-->
											  </div>
											  <div class="form-group">
											  	<button type="button" class="btn btn-primary" onclick="insertApply()">确认申请</button>
											  </div>
											</form>
										</div>
									</div>
								</div>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="messages">
					    	<div class="container-fluid">
									<div class="row">
										<div class="col-md-12">
											<p></p>
											<form role="form" id="messageform">
								    		<label class="control-label">如有相关线索，请提供线索留言，谢谢。留言后邮件通知信息发布人...</label>
											  <div class="form-group">
											    <textarea class="form-control" rows="5" style="resize: none;" name="message" id="message"></textarea>
											    
											    <!--<button type="button" class="btn btn-primary" onclick="">添加失物</button>-->
											  </div>
											  <div class="form-group">
											  	<button type="button" class="btn btn-primary" onclick="insertMessage()">确认发布</button>
											  </div>
											</form>
										</div>
									</div>
								</div>
					    </div>
					  </div>
					
					</div>
				  <!--</div>
				</div>-->				
				<!--留言板-->
				<div class="panel panel-default">
				  <div class="panel-heading"><h3><span class="label label-info">网友留言</span></h3></div>
				  <!--<div class="panel-body">-->
				    <ul class="list-group">
						  <li class="list-group-item">
						  	 <table>
							   	 <tr>
							   	 	<td width="80px">管理员：</td><td colspan="2" width="450px">希望你早日找回物品</td><td></td>
							   	 </tr>
							   	 <tr>
							   	 	<td width="80px"></td><td width="480px"></td><td width="170px"><span th:text="${goods.g_rtime}"></span></td>
							   	 </tr>
							   </table>
						  </li>						  
						</ul>
						<ul class="list-group" th:if="${goods.message != null}">
						  <li class="list-group-item" th:each="message : ${goods.message}">
						  	 <table>
							   	 <tr>
							   	 	<td width="80px" th:text="${message.user.loginname}+'：'">管理员：</td><td colspan="2" width="450px" th:text="${message.message}">希望你早日找回物品</td><td></td>
							   	 </tr>
							   	 <tr>
							   	 	<td width="80px"></td><td width="480px"></td><td width="170px"><span th:text="${message.m_rtime}"></span></td>
							   	 </tr>
							   </table>
						  </li>
						</ul>
				  <!--</div>-->
				</div>
			</div>
			<!--tips-->
			<div class="col-md-3">
				<div class="panel panel-default">
				  <div class="panel-heading"><h4>TIPS！</h4></div>
				  <div class="panel-body">
				    <p>1、诚信，从你我做起！本站不欢迎利用本站发布的信息来诱骗失主，请给这个社会多一份爱心。</p>
				    <p>2、信息的真实性与合法性由信息提供者负责，请谨慎审核，理性抉择，避免给您或他人造成不必要的损失。</p>
				    <p>3、本网站对用户所提供的信息的真实性及准确性不承担任何责任，如果因信息真实性或冒发他人信息所引起的纠纷及责任乃至法律责任，均由原信息发布人自行承担，本站不承担任何责任。</p> 
				    <p style="color: red;"><b>特别提醒：由于骗子较多，请在发布时和发布后提高警惕，谨防上当受骗，对此本站不承担任何责任。</b></p>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading"><h4 align="center">点个赞吧！</h4></div>
				  <div class="panel-body">
				  	<a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><img src="img/money.jpg" class="img-responsive img-thumbnail"style="border: 0px;" /></a>
					<!-- 打赏模态框 -->
					<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="top: 100px">
					  <div class="modal-dialog modal-sm" role="document">
					    <div class="modal-content">
					     <div class="panel panel-default">
						  <div class="panel-heading" style="height: 40px;"><div id="div1" style="margin-left: 30px"><span>感</span><span>谢</span><span>你</span><span>的</span><span>支</span><span>持</span><span>打</span><span>赏</span></div></div>
						  <div class="panel-body">
						    <img src="img/weixin.jpg" class="img-responsive img-responsive">
						  </div>
						</div>
					    </div>
					  </div>
					</div>
				    <p></p>
				    <p>1、本站启用实名验证功能</p>
						<p>2、骗子曝光台</p>
						<p>3、赞助我们</p>
				  </div>
				</div>
			</div>
			</div>
			</div>
	<!--联系我们-->
	<div class="container">
		<div th:replace="mycode :: myLink"></div>
	</div>	
	<!--尾部-->
	<div th:replace="mycode :: myfoot"></div>
	
</body>
</html>