<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>失物管理平台</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/style.css" rel="stylesheet"/>
<link href="css/login.css" rel="stylesheet"/>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/MyJavascript.js"></script>
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]-->
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.js"></script>
<!-- [endif]-->	
</head>
<body>
<script type="text/javascript">
// 	var tplVal = $("#move").text;
// 	$(function(){
// 		$('html,body').animate({scrollTop:$("#"+tplVal).offset().top},1000);
// 	});
</script>
	<!--导航条-->
	<div th:replace="mycode :: mytop"></div>
	<!--主页面-->
		<div class="container">
			<div class="row">
				<h1>个人中心</h1>
				<hr/>
			</div>
			<!--信息-->
			<div class="row">
			<!--tips-->
			<div class="col-md-2">
				<div class="panel panel-default">
				  <div class="panel-heading"><h4>栏目导航</h4></div>
				  <div class="div1">
				    <ul>
						<li><a href="#person">个人信息</a></li>
						<li><a href="#release">我的发布</a></li>
						<li><a href="#apply">我的认领</a></li>
						<li><a href="#message">我的留言</a></li>
						</ul>
				  </div>
				</div>
				
			</div>

			<div class="col-md-10">
				<div class="panel panel-default">
				  <div class="panel-title-red panel-heading" id="person"><h3><span class="glyphicon glyphicon-home"></span>&nbsp;个人信息</h3></div>
				  <div class="panel-body">
				  <table style="font-size: 16px;">
				   	<tr style="margin-bottom: 20px;">
				   		<td width="80px"><b>登&nbsp;&nbsp;录&nbsp;&nbsp;名：</b></td>
				   		<td width="300px"><span th:text="${user.loginname}"></span></td>
				   		<td width="80px"><b>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</b></td>
				   		<td width="300px"><span th:text="${user.username}"></span> </td>
				   	</tr>
				   	<tr>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   	</tr>
				   	<tr>
				   		<td width="70px"><b>电子邮箱：</b></td>
				   		<td width="300px"><span th:text="${user.email}"></span></td>
				   		<td width="70px"><b>联系电话：</b></td>
				   		<td width="300px"><span th:text="${user.phone}"></span></td>
				   	</tr>
				   	<tr>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   	</tr>
				   	<tr>
				   		<td width="70px"><b>QQ&nbsp;&nbsp;账号：</b></td>
				   		<td width="300px"><span th:text="${user.qq}"></span></td>
				   		<td width="70px"><b>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</b></td>
				   		<td width="300px"><span th:text="${user.sex}"></span></td>
				   	</tr>
				   	<tr>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   	</tr>
				   	<tr>
				   		<td width="70px"><b>身&nbsp;&nbsp;份&nbsp;&nbsp;证：</b></td>
				   		<td width="300px"><span th:text="${user.idcard}"></span></td>
				   		<td width="70px"><b>班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级：</b></td>
				   		<td width="300px"><span th:text="${user.clazz}"></span></td>
				   	</tr>
				   	<tr>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   		<td colspan="2"><hr width="50%" align="left"></td>
				   	</tr>
				   	<tr>
				   		<td colspan="4" align="center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserDialog" th:onclick="|editUser(${user.u_id})|"><span class="glyphicon glyphicon-wrench"></span>&nbsp;修改个人信息</button></td>
				   	</tr>
				   </table>
				   
				  </div>
				</div>
				
				<div class="panel panel-default">
				  <div class="panel-heading panel-title-red" id="release"><h3><span class="glyphicon glyphicon-export"></span>&nbsp;我的发布</h3></div>
				  <div class="panel-body">
				  		<ul class="list-group">
						  <li class="list-group-item td16px">
						  	 <table>
							   	 <tr style="text-align: center; ">
							   	 	<b><td width="180px"><b>物品图片</b></td><td width="300px"><b>发布标题</b></td><td width="200px"><b>发布时间</b></td></b>
							   	 </tr>
							   </table>
						  </li>
						</ul>
				    <ul class="list-group" th:each="goods : ${goodses}">
						  <li class="list-group-item td16px">
						  	 <table>
							   	 <tr style="text-align: center;">
							   	 	<td width="180px" rowspan="2"><a th:href="@{detail(id = ${goods.g_id})}" style="text-decoration: none;"><img th:src="${'img/'+goods.g_picture}" border="0" class="img-responsive"></td><td width="300px" th:text="${goods.g_title}" style="padding-left: 30px"></a>希望你早日找回物品</td><td width="200px" th:text="${goods.g_rtime}">2019-12-24 21:03:48</td>
							   	 </tr>
							   	 <tr style="text-align: center;">
							   	 	
							   	 	<td width="430px" style="padding-left: 30px"><cite th:text="${goods.classification.c_status}+'...'" style="font-size: 20px;color: blue;"></cite></td>
							   	 	<td width="200px">
							   	 		<div class="btn-group" role="group">
							   	 			<button type="button" class="btn btn-success btn-radius" title="详情" ><a th:href="@{detail(id = ${goods.g_id})}" style="text-decoration: none;"><span class="glyphicon glyphicon-zoom-in"></span></a></button>
  											<button type="button" class="btn btn-primary btn-radius" title="修改" data-toggle="modal" data-target="#editGoodsDialog"
													th:onclick="|editGoods(${goods.g_id})|"><span class="glyphicon glyphicon-pencil"></span></button>
  											<button type="button" class="btn btn-danger btn-radius" title="删除" th:onclick="|deleteGoods(${goods.g_id})|"><span class="glyphicon glyphicon-folder-close"></span></button>
							   	 		</div>
							   	 	</td>
							   	 </tr>
							   </table>
						  </li>
						</ul>
						
				   
				  </div>
				</div>
				
				<div class="panel panel-default">
				  <div class="panel-heading panel-title-red" id="apply"><h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;我的认领</h3></div>
				  <div class="panel-body">
				  		<ul class="list-group">
						  <li class="list-group-item td16px">
						  	 <table>
							   	 <tr style="text-align: center; ">
							   	 	<b><td width="180px"><b>物品名称</b></td><td width="300px"><b>申领资料</b></td><td width="200px"><b>申领时间</b></td></b>
							   	 </tr>
							   </table>
						  </li>
						</ul>
				   <ul class="list-group" th:each="apply:${applyes}">
						  <li class="list-group-item td16px">
						  	 <table>
							   	 <tr style="text-align: center;">
							   	 	<td width="180px" th:text="${apply.goods.g_name}"></td><td width="450px" th:text="${apply.a_key}">希望你早日找回物品</td><td width="200px" th:text="${apply.a_rtime}"></td>
							   	 </tr>
							   	 <tr style="text-align: center;">
							   	 	<td width="180px"></td>
							   	 	<td width="430px"><cite th:text="${apply.a_status}+'...'" style="font-size: 20px;color: blue;"></cite></td>
							   	 	<td width="200px">
							   	 		<div class="btn-group" role="group">
							   	 			<button type="button" class="btn btn-success btn-radius" title="详情" data-toggle="modal" data-target="#ApplyDialog" th:onclick="|dataApply(${apply.a_id})|"><span class="glyphicon glyphicon-zoom-in"></span></button>
  											<button type="button" class="btn btn-primary btn-radius" title="修改" data-toggle="modal" data-target="#editApplyDialog" th:onclick="|editApply(${apply.a_id})|"><span class="glyphicon glyphicon-pencil"></span></button>
  											<button type="button" class="btn btn-danger btn-radius" title="删除" th:onclick="|deleteApply(${apply.a_id})|"><span class="glyphicon glyphicon-folder-close"></span></button>
							   	 		</div>
							   	 	</td>
							   	 </tr>
							   </table>
						  </li>
						</ul>
						
				   
				  </div>
				</div>
				
				<div class="panel panel-default">
				  <div class="panel-heading panel-title-red" id="message"><h3><span class="glyphicon glyphicon-envelope"></span>&nbsp;我的留言</h3></div>
				  <div class="panel-body">
				  		<ul class="list-group">
						  <li class="list-group-item td16px">
						  	 <table>
							   	 <tr style="text-align: center; ">
							   	 	<b><td width="180px"><b>物品名称</b></td><td width="300px"><b>留言信息</b></td><td width="200px"><b>留言时间</b></td></b>
							   	 </tr>
							   </table>
						  </li>
						</ul>
				   	<ul class="list-group" th:each="message : ${messages}">
						  <li class="list-group-item td16px">
						  	 <table>
							   	 <tr style="text-align: center;">
							   	 	<td width="180px" th:text="${message.goods.g_name}">管理员：</td><td width="450px" th:text="${message.message}">希望你早日找回物品</td><td width="200px" th:text="${message.m_rtime}"></td>
							   	 </tr>
							   	 <tr style="text-align: center;">
							   	 	<td width="180px"></td><td width="430px"></td>
							   	 	<td width="200px">
							   	 		<div class="btn-group" role="group">
  											<button type="button" class="btn btn-primary btn-radius" title="修改"  th:onclick="|replyMessage(${message.m_id})|" data-target="#editMessageDialog" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
  											<button type="button" class="btn btn-danger btn-radius" title="删除" th:onclick="|deleteMessage(${message.m_id})|"><span class="glyphicon glyphicon-folder-close"></span></button>
							   	 		</div>
							   	 	</td>
							   	 </tr>
							   </table>
						  </li>
						</ul>
				   
				  </div>
				</div>
				
				
				
			</div>
			</div>
			</div>
	<!--联系我们-->
	<div class="container">
		<div th:replace="mycode :: myLink"></div>
	</div>	
	<!--尾部-->
	<div th:replace="mycode :: myfoot"></div>

	<!--修改客户模态框-->
	<div class="modal fade" id="editUserDialog" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="edit_user_form">
						<div class="form-group">
							<label class="col-sm-2 control-label"> 登录名 </label>
							<div class="col-sm-10">
								<input type="text" id="edit_loginname" class="form-control"
									placeholder="登录名" name="loginname" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-10">
								<input type="text" id="edit_username" class="form-control"
									placeholder="用户名" name="username" />
							</div>
						</div>
						<div class="form-group">
							<label style="float: left; padding: 7px 15px 0 27px;">登录密码</label>
							<div class="col-sm-10">
								<input type="password" id="edit_password" class="form-control"
									placeholder="登录密码" name="password" />
							</div>
						</div>
						<div class="form-group">
							<label style="float: left; padding: 7px 15px 0 27px;">电子邮箱</label>
							<div class="col-sm-10">
								<input type="text" id="edit_email" class="form-control"
									placeholder="电子邮箱" name="email" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">联系电话</label>
							<div class="col-sm-10">
								<input type="text" id="edit_phone" class="form-control"
									placeholder="联系电话" name="phone" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">QQ</label>
							<div class="col-sm-10">
								<input type="text" id="edit_qq" class="form-control"
									placeholder="QQ" name="qq" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">性别</label>
							<div class="col-sm-10">
								<select class="form-control" id="edit_sex" name="sex">
									<option value="">--请选择--</option>
									<option value="男">男</option>
									<option value="女">女</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">身份证</label>
							<div class="col-sm-10">
								<input type="text" id="edit_idcard" class="form-control"
									placeholder="身份证号码" name="idcard" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">班级</label>
							<div class="col-sm-10">
								<input type="text" id="edit_clazz" class="form-control"
									placeholder="班级" name="clazz" />
							</div>
						</div>
							<input type="hidden" id="edit_role" name="role" />
							<input type="hidden" id="id" name="u_id" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary"
						onclick="updateUser()">修改客户</button>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	<!--修改物品模态框-->
	<div class="modal fade" id="editMessageDialog" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">修改留言信息</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="edit_message_form">
						<div class="form-group">
							<b><h4 align="center">留言信息</h4></b>
							<div class="col-sm-12">
								<textarea class="form-control" rows="5" style="resize: none;" name="message" id="oldMessage"></textarea>
								<input type="hidden" id="m_id" name="m_id">
							</div>
						</div>
					</form>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary"
							onclick="updateMessage()">修改留言</button>
					</div>
			</div>
		</div>
	</div>
	<!--修改物品模态框-->
	<div class="modal fade" id="editGoodsDialog" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">修改发布信息</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="edit_goods_form">
						<div class="form-group">
							<label class="col-sm-2 control-label"> 失物名称 </label>
							<div class="col-sm-10">
								<input type="text" id="g_name" class="form-control"
									placeholder="失物名称" name="g_name" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">丢失时间</label>
							<div class="col-sm-10">
								<input type="date" id="g_ltime" class="form-control"
									placeholder="丢失时间" name="g_ltime" />
							</div>
						</div>
						<div class="form-group">
							<label style="float: left; padding: 7px 15px 0 27px;">丢失地点</label>

							<div class="col-sm-10">
								<input type="text" id="g_place" class="form-control"
									placeholder="丢失地点" name="g_place" />
							</div>
						</div>
						<div class="form-group">
							<label style="float: left; padding: 7px 15px 0 27px;">失物标题</label>
							<div class="col-sm-10">
								<input type="text" id="g_title" class="form-control"
									placeholder="失物标题" name="g_title" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">描述信息</label>
							<div class="col-sm-10">
<!-- 								<input type="text" id="g_describe" class="form-control" -->
<!-- 									placeholder="描述信息" name="g_describe" /> -->
								<textarea rows="3" class=form-control placeholder="描述信息" name="g_describe" id="g_describe" style="resize: none;"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">关键信息</label>
							<div class="col-sm-10">
<!-- 								<input type="text" id="g_key" class="form-control" -->
<!-- 									placeholder="关键信息" name="g_key" /> -->
								<textarea rows="3" class=form-control placeholder="关键信息" name="g_key" id="g_key" style="resize: none;"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">失物类型</label>
							<div class="col-sm-10">
								<select id="g_type" class="form-control" name="g_type">
									<option value="">--请选择--</option>
									<option value="电子产品">电子产品</option>
									<option value="贵重物品">贵重物品</option>
									<option value="书籍">书籍</option>
									<option value="证件">证件</option>
									<option value="服饰">服饰</option>
									<option value="其他">其他</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">失物图片</label>
							<div class="col-sm-10">
								<img id="picture" height="100px">
							</div>				
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">上传图片</label>
							<div class="col-sm-10">
								<input type="file" class="form-control"
									placeholder="上传图片" name="file" />
							</div>
							<input type="hidden" id="u_id" name="user.u_id">
							<input type="hidden" id="g_id" name="g_id">
							<input type="hidden" id="g_picture" name="g_picture">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary"
						onclick="updateGoods()">修改物品</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改申请模态框 -->
	<div class="modal fade" id="editApplyDialog" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">审核申请</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="edit_apply_form">
						<div class="form-group">
							<div class="col-sm-5"></div>
							<label class="col-sm-2 control-label"> 物品信息 </label><br />
						</div>
						<div class="form-group">
							<label style="float: left; padding: 7px 15px 0 27px;">物品名称</label>
							<div class="col-sm-10">
								<input type="text" id="applyg_name" class="form-control" name="goods.g_name" disabled="disabled" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">失物图片</label>
							<div class="col-sm-10">
								<img id="applyg_picture" name="goods.g_picture" height="100px">
							</div>				
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">关键信息</label>
							<div class="col-sm-10">
								<textarea id="applyg_key" disabled="disabled" class="form-control" rows="3" name="goods.g_key" style="resize: none;"></textarea>
							</div>
						</div>
						<hr />
						<div class="form-group">
							<div class="col-sm-5"></div>
							<label class="col-sm-2 control-label"> 申请信息 </label><br />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">申请人</label>
							<div class="col-sm-10">
								<input type="text" id="username" class="form-control" name="user.username" disabled="disabled" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">申请时间</label>
							<div class="col-sm-10">
								<input type="text" id="a_rtime" class="form-control" name="a_rtime" disabled="disabled" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">关键信息</label>
							<div class="col-sm-10">
								<textarea id="a_key" class="form-control" rows="3" placeholder="物品关键信息" name="a_key" style="resize: none;"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">审核状态</label>
							<div class="col-sm-10">
								<select class="form-control" id="a_status" name="a_status" disabled="disabled">
									<option value="未审核">未审核</option>
									<option value="未通过">未通过</option>
									<option value="已通过">已通过</option>
								</select>
							</div>
							<input type="hidden" id="a_id" name="a_id">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary"
						onclick="updateApply()">修改申请信息</button>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	申请详细信息 -->
	<div class="modal fade" id="ApplyDialog" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">申请详细资料</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="apply_form">
						<div class="form-group">
							<div class="col-sm-5"></div>
							<label class="col-sm-2 control-label"> 申请信息 </label><br />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">申请人</label>
							<div class="col-sm-10">
								<input type="text" id="datausername" class="form-control" name="user.username" disabled="disabled" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">申请时间</label>
							<div class="col-sm-10">
								<input type="text" id="dataa_rtime" class="form-control" name="a_rtime" disabled="disabled" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">关键信息</label>
							<div class="col-sm-10">
								<textarea disabled="disabled" id="dataa_key" class="form-control" rows="3" placeholder="物品关键信息" name="a_key" style="resize: none;"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">审核状态</label>
							<div class="col-sm-10">
								<select class="form-control" id="dataa_status" name="a_status" disabled="disabled">
									<option value="未审核">未审核</option>
									<option value="未通过">未通过</option>
									<option value="已通过">已通过</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">					
					<button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>