<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>失物管理平台</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet"/>
	<!-- 日期控件 -->
	<link href="css/bootstrap-datepicker3.css" rel="stylesheet">
	<!-- 自己修改后的css样式 -->
	<link href="css/style.css" rel="stylesheet"/>
	<!-- 登录注册css样式 -->
	<link href="css/login.css" rel="stylesheet"/>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- BootStrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- 自己编写的JavaScript代码 -->
	<script src="js/MyJavascript.js"></script>
	<!-- 图片剪裁插件 -->
	<!-- <script src="js/jqthumb.min.js"></script> -->
	<!-- 日期控件 -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- 日期控件中文 -->
	<script src="js/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div th:replace="mycode :: mytop"></div>
	<!--轮播-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>
		
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="img/frist.jpg" alt="...">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    <div class="item">
		      <img src="img/second.jpg" alt="...">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    <div class="item">
		      <img src="img/third.jpg" alt="...">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		  </div>
		
		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	<!--主页面-->
	<div class="container">
	<div class="row">
		<div class="aboutus jumbotron" style="background: url(img/welcome_background.jpg) no-repeat; background-size: cover;background-attachment: fixed;">
		  <h2>欢迎来到我们的网站</h2>
		  <p>
		    <p>网站系统功能介绍：</p>
		    <p>1、登录注册模块：学生和老师可以注册成用户，注册成功后可以登录到校园失物招领系统。</p>
		    <p>2、个人中心模块：用户可以修改个人基本信息以及账户密码。</p>
		    <p>3、搜索浏览模块：用户可以通过搜索然后点击查询详细的寻物和招领信息。</p>
		    <p>4、用户管理寻物信息模块：用户可以发布、查询、删除和修改自己账户的寻物启事。</p>
		    <p>5、用户管理招领信息模块：用户可以发布、查询、删除和修改自己账户的招领启事。</p>
		    <p>6、申领物品模块：用户可以在招领启事下进行申领失物，填写相关失物资料，提交到拾主确认。</p>
		    <p>7、处理申领模块：拾主收到申领请求后，判断失物资料，确定或拒绝失物申领。</p>
		    <p>8、留言功能：用户可以在寻物或招领启事与拾主或失主进行留言交流，确认失物的特征。</p>
		  </p>
		</div>
	</div>
	
	<!--横线-->
    <div class="container damu-hr">
    	<hr/>
    </div>
	
	<!--作用-->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="index_product">
        <div class="pro_title">
          <p>role</p>
          <span>我们的作用</span>
        </div>
        <div class="col-md-2"></div>
        	<div class="col-sm-6 col-md-4">
        	<a href="#" data-toggle="modal" onclick="setStatus('寻物中')" style="text-decoration: none;">
			    <div class="thumbnail">
			      <div class="caption">
			        <h3>助失主找回失物</h3>
			      </div>
			      <img src="img/role1.jpg" alt="...">
			    </div>
			</a>
			  </div>
	      	<div class="col-sm-6 col-md-4">
	      		<a href="#" data-toggle="modal" onclick="setStatus('招领中')" style="text-decoration: none;">
			    <div class="thumbnail">
			      <div class="caption">
			        <h3>助拾主归还拾物</h3>
			      </div>
			      <img src="img/role2.jpg" alt="...">
			    </div>
			    </a>
			  </div>
      </div>
    </div>
  </div>
  
  <!--使用-->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="index_product">
        <div class="pro_title">
          <p>use</p>
          <span>怎么运行的</span>
        </div>
        <h3 align="center">你知道吗，今天可以快速回复你失去的宝贵价值吗？</h3>
        <h5 align="center">当你失去一个有价值的东西是，你会做什么，你想快速恢复？</h5>
        <h5 align="center">如果你想把找到的物品归还给它的合法所有者？</h5>
        <div class="panel panel-default">
				  <div class="panel-body" align="center" style="border: solid dodgerblue;">
				    	找到或返回丢失的物品从未如此简单
				  </div>
				</div>
      </div>
    </div>
  </div>
  
  <!--教程-->
  <div class="row">
  	<div class="col-md-1"></div>
  	<div class="col-md-10">
  		<!-- Nav tabs -->
  	<ul class="nav nav-tabs" role="tablist" id="damu-list">
	    <li role="presentation" class="active"><a href="#chrome" aria-controls="chrome" role="tab" data-toggle="tab" style="font-size: 20px;">发布寻物启事</a></li>
	    <li role="presentation"><a href="#firefox" aria-controls="firefox" role="tab" data-toggle="tab">发布招领启事</a></li>
	    <li role="presentation"><a href="#IE" aria-controls="IE" role="tab" data-toggle="tab">申请失物归还</a></li>
	    <li role="presentation"><a href="#opera" aria-controls="opera" role="tab" data-toggle="tab">申请拾物领回</a></li>
	  </ul>
	
	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="chrome">
	    	<div class="container-fluid">
	    		<div class="row">
	    			<div class="col-md-6">
	    				<h3>发布寻物启事</h3>
	    				<p>1、丢失了什么</p>
	    				<p>2、注册登录我们的网站</p>
	    				<p>3、点击寻找失物</p>
	    				<p>4、填写相关的失物资料并上传图片</p>
	    				<p>5、发布到平台</p>
		    		</div>
		    		<div class="col-md-6">
		    			<img src="img/tab1.jpg" />
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="firefox">
	    	<div class="container-fluid">
	    		<div class="row">    			
		    		<div class="col-md-6">
		    			<img src="img/tab2.jpg" />
		    		</div>
		    		<div class="col-md-6">
	    				<h3>发布招领启事</h3>
	    				<p>1、找到了什么</p>
	    				<p>2、注册登录我们的网站</p>
	    				<p>3、点击寻找失主</p>
	    				<p>4、填写相关的失物资料并上传图片</p>
	    				<p>5、发布到平台</p>
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="IE">
	    	<div class="container-fluid">
	    		<div class="row">
	    			<div class="col-md-6">
	    				<h3>申请失物归还</h3>
	    				<p>1、通过平台找到失物的失主</p>
	    				<p>2、注册登录我们的网站</p>
	    				<p>3、进入失物的详情</p>
	    				<p>4、点击申请归回</p>
	    				<p>5、填写归回失物的关键信息并提交</p>
	    				<p>6、等待管理员在后台验证通过</p>
		    		</div>
		    		<div class="col-md-6">
		    			<img src="img/tab3.jpg" />
		    		</div>
	    		</div>
	    	</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="opera">
	    	<div class="container-fluid">
	    		<div class="row">
	    			<div class="col-md-6">
		    			<img src="img/tab4.jpg" />
		    		</div>
	    			<div class="col-md-6">
	    				<h3>申请拾物领回</h3>
	    				<p>1、通过平台找到属于自己的失物</p>
	    				<p>2、注册登录我们的网站</p>
	    				<p>3、进入失物的详情</p>
	    				<p>4、点击申请领回</p>
	    				<p>5、填写归回失物的关键信息并提交</p>
	    				<p>6、等待管理员在后台验证通过</p>
		    		</div>		    		
	    		</div>
	    	</div>
	    </div>
	  </div>
  	</div>
  	<div class="col-md-1"></div>
  </div>
	<div th:replace="mycode :: myLink"></div>
</div>
<div th:replace="mycode :: myfoot"></div>



</body>
</html>